[Unit]
DefaultDependencies=no
After=remote-fs-pre.target
After=network.target
Wants=network.target
After=network-online.target
Wants=network-online.target
Conflicts=umount.target
Before=umount.target

[Mount]
What=vmon1:6789,vmon2:6789,vmon3:6789:/fsgw
Where=/mnt/cephfs/fsgw
Type=ceph
Options=name=samba,secretfile=/etc/ceph/samba.secret,noatime,_netdev

[Install]
WantedBy=remote-fs.target