includedir /etc/krb5.conf.d/

[logging]
  default = FILE:/var/log/ktb5libs.log
  kdc = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log

[libdefaults]
  dns_lookup_realm = false
  dns_lookup_kdc = {{ ctdb_samba_active_directory_info.dns_lookup_kdc }}
  default_realm = {{ ctdb_samba_active_directory_info.realm|upper }}
  ticket_lifetime = 24h
  renew_lifetime = true
  forwardable = true
  pkinit_anchors = /etc/pki/tls/certs/ca-bundle.crt
  default_ccache_name = KEYRING:persistent:%{uid}

[realms]
{% if not ctdb_samba_active_directory_info.dns_lookup_kdc %}}
  {{ ctdb_samba_active_directory_info.realm|upper }} = {
{% for item in ctdb_samba_active_directory_info.kdc %}
   kdc = {{ item }}:88
{% endfor %}
   default_domain = {{ ctdb_samba_active_directory_info.realm|lower }}
	}
{% endif %}

[domain_realm]
  .{{ ctdb_samba_active_directory_info.realm|lower }} = {{ ctdb_samba_active_directory_info.realm|upper }}
  {{ ctdb_samba_active_directory_info.realm|lower }} = {{ ctdb_samba_active_directory_info.realm|upper }}

