#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if ceph_nfs_dynamic_exports and not ceph_nfs_rados_backend %}
%include /etc/ganesha/export.d/INDEX.conf
{% endif %}

NFS_Core_Param
{
{% if ceph_nfs_bind_addr is defined %}
       Bind_Addr={{ ceph_nfs_bind_addr }};
{% endif %}
        Enable_NLM = false;
        Enable_RQUOTA = false;
{% if ceph_nfs_limit_nfs4 %}
        Protocols = 4;
{% else %}
        Protocols = 3,4;
{% endif %}
}

{% if ceph_nfs_disable_caching or nfs_file_gw %}
EXPORT_DEFAULTS {
        Attr_Expiration_Time = 0;
}

CACHEINODE {
        Dir_Chunk = 0;
        NParts = 1;
        Cache_Size = 1;
}
{% endif %}

{% if ceph_nfs_rados_backend %}
RADOS_URLS {
   ceph_conf = '/etc/ceph/{{ cluster }}.conf';
   userid = "{{ ceph_nfs_ceph_user }}";
   {% if ceph_nfs_dynamic_exports %}
   watch_url = "rados://{{ ceph_nfs_export_pool }}/{{ ceph_nfs_export_namespace }}/conf-{{ ansible_hostname }}";
   {% endif %}
}
{% if ceph_nfs_rados_backend_driver is defined %}
NFSv4 {
        RecoveryBackend = '{{ ceph_nfs_rados_backend_driver }}';
}
{% else %}
NFSv4 {
        RecoveryBackend = 'rados_ng';
}
{% endif %}


RADOS_KV {
        ceph_conf = '/etc/ceph/{{ cluster }}.conf';
        userid = "{{ ceph_nfs_ceph_user }}";
        pool = "{{ ceph_nfs_grace_pool }}";
        namespace = "{{ ceph_nfs_grace_namespace }}";
        {% if 'rados_cluster' in ceph_nfs_rados_backend_driver %}
        nodeid = "{{ ansible_hostname }}";
        {% endif %}
}
{% endif %}

{% if ceph_nfs_dynamic_exports %}
%url rados://{{ ceph_nfs_export_pool }}/{{ ceph_nfs_export_namespace }}/conf-{{ ansible_hostname }}
{% else %}
{% if nfs_file_gw %}
EXPORT
{
        Export_id={{ ceph_nfs_ceph_export_id }};

        Path = "/";

        Pseudo = {{ ceph_nfs_ceph_pseudo_path }};

        Access_Type = {{ ceph_nfs_ceph_access_type }};

        Protocols = {{ ceph_nfs_ceph_protocols }};

        Transports = TCP;

        SecType = sys,krb5,krb5i,krb5p;

        Squash = {{ ceph_nfs_ceph_squash }};

        Attr_Expiration_Time = 0;

        FSAL {
                Name = CEPH;
                User_Id = "{{ ceph_nfs_ceph_user }}";
        }

        {{ ganesha_ceph_export_overrides | default(None) }}
}
{% endif %}
{% if nfs_obj_gw %}
EXPORT
{
        Export_id={{ ceph_nfs_rgw_export_id }};

        Path = "/";

        Pseudo = {{ ceph_nfs_rgw_pseudo_path }};

        Access_Type = {{ ceph_nfs_rgw_access_type }};

        Protocols = {{ ceph_nfs_rgw_protocols }};

        Transports = TCP;

        SecType = sys,krb5,krb5i,krb5p;

        Squash = {{ ceph_nfs_rgw_squash }};

        FSAL {
                Name = RGW;
                User_Id = "{{ ceph_nfs_rgw_user }}";
                Access_Key_Id ="{{ ceph_nfs_rgw_access_key }}";
                Secret_Access_Key = "{{ ceph_nfs_rgw_secret_key }}";
        }

        {{ ganesha_rgw_export_overrides | default(None) }}

}
RGW {
        ceph_conf = "/etc/ceph/{{ cluster }}.conf";
        cluster = "{{ cluster }}";
        name = "{{ rgw_client_name }}";
        {{ ganesha_rgw_section_overrides | default(None) }}
}
{% endif %}
{% endif %}

LOG {
        Facility {
                name = FILE;
                destination = "{{ ceph_nfs_log_file }}";
                enable = active;
        }

        {{ ganesha_log_overrides | default(None) }}
}

{{ ganesha_conf_overrides | default(None) }}